* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    box-sizing: border-box;
  }

  body {
    color: #000000;
    height: 100vh;
  }

  a {
    text-decoration: none;
  }

  .nav-div {
    background-color: #141313;
    height: 8vh;
  }

  em {
    color: #2584ff;
    font-style: normal;
  }

  nav {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav ul li {
    display: inline-block;
    list-style: none;
  }

  nav ul li a {
    padding: 12px;
    border-radius: 22px;
    height: 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(234 231 231);
    font-size: 14px;
    transition: all 0.2s ease-in;
  }

  .a_class {
    position: relative;
    width: 5rem;
    border-radius: 22px;
    z-index: 0;
  }

  .login_btn {
    background: red;
    border-radius: 22px;
    font-weight: 400;
    transition: all 0.2s ease-in;
  }

  .login_btn:hover {
    background: rgb(255, 0, 0, 0.8);
  }

  .log-sign {
    height: fit-content;
    width: fit-content;
  }

  .log-sign_container {
    margin-right: 1rem;
  }

  .a_text_main {
    z-index: 9;
    color: #fff;
    transition: all 0.3s ease;
  }

  .a_text_main {
    z-index: 9;
    color: #fff;
    transition: all 0.3s ease;
  }

  .a_text {
    z-index: 9;
    color: #a1a1a1;
    transition: all 0.3s ease;
  }

  .a_text:hover {
    color: #e7e7e7;
  }

  .login_text {
    text-decoration: underline;
  }

  nav ul li a:hover {
    color: rgb(7, 7, 7);
  }

  nav ul li a.active {
    color: #fff;
  }

  nav ul li a:hover:after {
    width: 100%;
  }

  #main-body-1 {
    position: relative;
    overflow-x: hidden;
    height: 92vh;
    background: url("../media/home-bg.c0d4c7947ccf.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 0 23%;
    background-size: 126%;
  }
  .body-1 {
    padding: 10vh 0 0 5vw;
  }

  .body-1 h3 {
    color: #ff004f;
    margin-top: 8vw;
    letter-spacing: 3px;
  }
  .body-1 #bio-exp {
    margin-top: 5vh;
    width: 79ch;
    line-height: 1.5rem;
  }

  .body-1 h1 {
    letter-spacing: 1px;
    padding: 10px 0 20px 0;
    width: 100%;
    font-size: xxx-large;
  }

  .width_dec {
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul.nav-t {
    margin-right: 0rem;
  }

  .explr-btn {
    background-color: rgb(37, 132, 255);
    border-radius: 8px;
    border: none;
    color: #fff;
    display: flex;
    font-size: medium;
    font-weight: 500;
    height: 2.5rem;
    justify-content: left;
    margin: 25px 0;
    outline: none;
    padding: 10px 10px;
    transition: all 0.5s ease;
    width: 8rem;
  }

  .body-1 .explr-btn:hover {
    word-spacing: 7px;
    background-color: rgb(98, 36, 255);
  }

  .main-body-2 {
    height: 100vh;
  }

  .handBurger {
    display: none;
    cursor: pointer;
    background: red;
    border-radius: 20px;
    width: 3rem;
    padding: 2px;
  }

  .menu_icon {
    height: 25px;
    width: 25px;
    color: #000000;
  }

  .li_mobile {
    cursor: pointer;
    border-radius: 2px;
  }

  .li_mobile:hover {
    background: #1e1e1e;
  }

  .mobile_menu_container {
    height: 300px;
    position: absolute;
    top: 1px;
    right: 3px;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    transition: ease-out 1s;
    overflow: hidden;
    z-index: 9;
  }

  .log-sign_mob {
    height: 32px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
  }

  .login_btn_mob {
    background: red;
  }

  .hide {
    transition: all 0.5s ease;
    display: none;
  }

  .mobile_menu {
    background-color: rgb(19, 14, 14);
    padding: 5px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }

  .li_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px;
    height: 50px;
    border-bottom: 1px dashed rgb(194, 190, 190, 0.5);
  }

  .li_mobile a,
  .li_mobile p {
    color: #fff;
  }

  .logo_mob {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo_mob .width_dec {
    margin-left: 0;
  }

  .nav_a {
    height: 50px;
  }

  .log-sign_container_mob {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 675px) {
    .handBurger {
      display: flex;
      justify-content: center;
      margin-right: 1rem;
    }

    .nav-t,
    .log-sign_container {
      display: none;
    }
    .unhide {
      display: flex;
    }
  }

  #main-body-2 {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(3, 33.3vh);
    grid-template-columns: repeat(2, 50vw);
  }

  .forfun {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 60%;
    border-radius: 10px;
  }

  .text_text1 {
    max-width: 50ch;
    margin-top: 1rem;
    font-size: larger;
    font-weight: 300;
    color: #fff;
  }

  .h3_txt {
    color: #da5656;
    text-shadow: #000000 3px 3px 7px;
  }

  .text_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* box-shadow: #000000 1px 10px 50px,#343232 1px 1px 20px inset; */
    border-radius: 10px;
  }

  h3 {
    color: #ff004f;
  }

  .forfun1 {
    height: 80%;
    grid-column: 2;
  }

  .forfun2 {
    height: 80%;
    width: 100%;
    grid-column: 1;
  }
  .text_div1 {
    padding: 10px;
    grid-row: 1;
  }

  @media screen and (max-width: 1025px) {
    #main-body-1 {
      background-position: -1px 99%;
    }

    .body-1 #bio-exp {
      width: 66ch;
    }
    .body-1 h1 {
      font-size: xx-large;
    }

    .body-1 #bio-exp {
      font-size: small;
    }
  }

  @media screen and (max-width: 820px) {
    .body-1 #bio-exp {
      width: 54ch;
    }
    .nav_a {
      height: 43px;
      width: 9rem;
    }
    .width_dec {
      width: 5rem;
    }
  }

  @media screen and (max-height: 600px) {
    #main-body-1 {
      background-position: -1px 25%;
    }

    .body-1 h3 {
      margin-top: 0;
    }

    nav ul li a {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 600px) {
    .body-1 #bio-exp {
      width: 50ch;
      font-size: xx-small;
    }
  }
