@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s;
}

body{
    background: #ebebeb;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formcontainer{
    background: #ffffff;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    
}

.head{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 31px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #000000;
    font-family: "Pacifico", cursive;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.input{
    /* write css fot otp input field */
    width: 80%;
    height: 40px;
    margin-bottom: 3rem;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.btn{
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 16px;
    background: #000000;

}

.resend{
    height: 4px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.resend p{
    font-size: 14px;
}

.resend p:hover{
    font-size: 14.2px;
}

.input:focus{
    border: 1px solid #000000;
}

.btn:hover{
    cursor: pointer;
    background: #242424;
    color: #ffffff;
}

.alert{
    position: fixed;
    top: 20px;
    left: 35%;
    width: 30%;

}